<head>
    <!-- code to include the highcharts and jQuery libraries goes here -->
    <script type=”text/javascript” src=”/static/js/jquery-1.7.1.js”></script>
    <script type=”text/javascript” src=”/static/js/highcharts/highcharts.js”></script>
    
    <!-- load_charts filter takes a comma-separated list of id's where -->
    <!-- the charts need to be rendered to                             -->
    {% load chartit %}
    {{ weatherchart|load_charts:"container" }}
</head>
<body>
    <div id='container'> Chart will be rendered here </div>
</body>